<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Emoco</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>emoco</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleobligatidutyon</key>
		<string>????</string>
								<key>CFBundleURLTypes</key>
		<array>

			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb720427620988692</string>
				</array>
			</dict>
		</array>
		<key>FacebookAppID</key>
		<string>720427620988692</string>
		<key>FacebookClientToken</key>
		<string>6e137d101d19af078622dc0dfc9097df</string>
		<key>FacebookDisplayName</key>
		<string>Burner</string>
		<key>FacebookAutoLogAppEventsEnabled</key>
		<true/>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
				<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
				<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UNUserNotificationCenter</key>
		<dict>
			<key>UNAuthorizationOptions</key>
			<array>
				<string>alert</string>
			</array>
		</dict>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>squarecash</string>
			<string>cashme</string>
			<string>upi</string>
			<string>phonepe</string>
			<string>paytmmp</string>
			<string>gpay</string>
			<string>com.amazon.mobile.shopping</string>
			<string>mobikwik</string>
			<string>freecharge</string>
			<string>whatsapp</string>
			<string>instagram</string>
			<string>fb</string>
			<string>tiktok</string>
			<string>comgooglemaps</string>
			<string>tweetie</string>
			<string>wechat</string>
			<string>alipay</string>
			<string>mqq</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>This app needs to access your camera to take pictures so that you can shoot and upload videos or other image materials. All shooting data will be securely stored on your personal device and will only be uploaded or shared with your explicit consent.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app needs to access your microphone to record audio so that you can have a voice chat.  We will only use or access the content you have recorded with your explicit permission.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs to access your album so that you can select and upload videos or other pictures.  All selected files will only be used for the purposes you have approved and will be securely stored on your device, or can only be uploaded and shared with your consent.</string>
	
	</dict>
</plist>
